h1 {
   color: blue;
}

h2 {
   color: darkblue;
}

header {
     background-color: #20B2AA
     text-align: center;
}

body {
     font-family: "Times New Roman"
}

body {
     background-color:lightblue;
}
